{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_collection_title: {Boolean} Show the collection title. Default: true
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- if card_product and card_product != empty -%}
  <a href="{{ card_product.url }}" class="group block">
    <div class="relative overflow-hidden bg-white duration-300 hover:cursor-pointer">
      {%- if card_product.featured_media -%}
        <div class="aspect-square overflow-hidden">
          {%- if card_product.available == false -%}
            <div class="flex absolute top-2 left-2">
              <span class="inline-flex items-center px-2.5 py-0.5 text-xs font-medium bg-gray-100 text-gray-800 w-fit">
                En rupture de stock
              </span>
            </div>
          {%- endif -%}
          <img
            srcset="
              {%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
              {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
              {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
              {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
              {{ card_product.featured_media | image_url }} {{ card_product.featured_media.width }}w
            "
            src="{{ card_product.featured_media | image_url: width: 533 }}"
            sizes="(min-width: 750px) 50vw, 100vw"
            alt="{{ card_product.featured_media.alt | escape }}"
            loading="lazy"
            width="533"
            height="533"
            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
          >
        </div>
      {%- endif -%}

      <div class="py-4">
        <div class="flex flex-col gap-2">
          <h3 class="text-lg font-medium text-gray-900 uppercase">
            {{ card_product.title | escape }}
          </h3>
          {%- if show_collection_title -%}
            <span class="text-sm text-gray-600">
              {{ card_product.collections.first.title }}
            </span>
          {%- endif -%}

          {%- if show_vendor -%}
            <div class="text-sm text-gray-600">{{ card_product.vendor }}</div>
          {%- endif -%}

          <div class="flex items-center gap-2">
            {% render 'price', product: card_product, show_compare_at_price: true %}
          </div>
        </div>
      </div>
    </div>
  </a>
{%- else -%}
  <div class="group">
    <div class="relative overflow-hidden bg-white  transition-shadow duration-300">
      <div class="aspect-square overflow-hidden bg-gray-100 flex items-center justify-center">
        {{ 'product-apparel-2' | placeholder_svg_tag: 'w-1/2 h-1/2 text-gray-400' }}
      </div>
      <div class="p-4">
        <div class="flex flex-col gap-2">
          <h3 class="text-lg font-medium text-gray-900">
            <a class="hover:text-gray-700 transition-colors duration-200">
              {{ 'onboarding.product_title' | t }}
            </a>
          </h3>
          {%- if show_vendor -%}
            <div class="text-sm text-gray-600">{{ 'products.product.vendor' | t }}</div>
          {%- endif -%}
          {% render 'price', placeholder: true, show_compare_at_price: true %}
        </div>
      </div>
    </div>
  </div>
{%- endif -%}
